/* CSS Document */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.slideshow-container {
  position: relative;
  background: #000;
  height: 100vh;
}

.mySlides {
  display: none;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

img {
  vertical-align: middle;
  height: 100vh;
  width: 100%-;
  object-fit: cover; /* Keep aspect ratio but cover entire area */
}

.text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-form {
  position: fixed;
  bottom: 0;
  left: 50%;  /* Position the left edge of the form at the middle of the screen */
  transform: translateX(-50%); /* Move the form left by half its own width to center it */
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #252424;
}

button {
  width: 100%;
  background-color: #22A3ED;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

